
.light {
    position: absolute;
  }
  
  .light1 {
    top: 36%;
    left: -6%;
    width: 600px;
    height: 650px;
    transform: rotate(-90deg);
    filter: blur(150px);
    animation: move1 15s linear infinite;
  }
  
  .light2 {
    left: 14%;
    top: -62%;
    width: 700px;
    height: 750px;
    transform: rotate(110.024deg);
    filter: blur(150px);
    animation: move2 15s linear infinite;
  }
  
  .light3 {
    top: 20%;
    left: 45%;
    width: 800px;
    height: 850px;
    transform: rotate(110.024deg);
    filter: blur(150px);
    animation: move3 15s linear infinite;
    
  }

  .light4 {
    right: -8%;
    top: -38%;
    width: 654px;
    height: 650px;
    transform: rotate(110.024deg);
    filter: blur(150px);
    animation: move4 15s linear infinite;
  }

  .light5 {
    top: -15%;
    right: -5%;
    width: 700px;
    height: 647px;
    transform: rotate(110.024deg);
    filter: blur(150px);
    animation: move5 15s linear infinite;
  }
  
@keyframes move1 {
    0% {transform: translate(0, 0);}
    25% {transform: translate(20vw, -80vh);}
    50% {transform: translate(70vw, -70vh); }
    75% {transform: translate(55vw, -10vh); }
    100% {transform: translate(0, 0);} 
}  

 @keyframes move2 {
    0% {transform: translate(0, 0);}
    25% {transform: translate(30vw, 5vh); }
    50% {transform: translate(25vw, 100vh);}
    75% {transform: translate(-30vw, 90vh);}
    100% {transform: translate(0, 0);}
} 

 @keyframes move3 {
    0% {transform: translate(0, 0);}
    25% {transform: translate(-65vw, -20vh); }
    50% {transform: translate(-55vw, -100vh);}
    75% {transform: translate(0, -90vh);}
    100% {transform: translate(0, 0);}
} 

@keyframes move4 {
    0% {transform: translate(0, 10vh);}
    25% {transform: translate(-20vw, 80vh); }
    50% {transform: translate(-90vw, 70vh);}
    75% {transform: translate(-75vw, 10vh);}
    100% {transform: translate(0, 10vh);}
}

@keyframes move5 {
    0% {transform: translate(0, 0);}
    25% {transform: translate(-35vw, 30vh); }
    50% {transform: translate(-80vw, 10vh);}
    75% {transform: translate(-40vw, -20vh);}
    100% {transform: translate(0, 0);}
}
