@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syncopate:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    scroll-behavior: smooth;
    text-decoration: none;
  }

  body {
    overflow-x: hidden;
    background-color: #090A0C;
  }

  .shadow {
    background: rgba(9, 10, 12, 0.50);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; /* Defina um valor menor para garantir que fique abaixo dos outros elementos */
    box-sizing: border-box;
    margin: 0;
}

  .section-titles {
    background: linear-gradient(91deg, #5C7EFF 0.05%,  #7844a3 10.58%, #FF41BB 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Syncopate', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    width: 100%;
    margin: 1.5rem 0;
}

  /*HEADER*/

  .header {
    position: fixed;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}

.header-black {
    background-color: #090A0C;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 0 8%;
  width: 50%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  color: #e4e4e4;
}

.menu a:hover {
  opacity: 1;
  color: #a6a5ff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

/*Banner*/

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}



.title {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
}

.title h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    color: #EAEAEA;
    font-size: 3rem;
}

.title h1 {
    text-shadow: 0px 0px 12px rgba(234, 234, 234, 0.30);
    background: linear-gradient(92deg, #EAEAEA 0.71%, #FF9ADB 35.67%, #718EFF 59.64%, #8590FF 79.11%, #CF96FF 100.58%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Syncopate', sans-serif;
    font-size: 7rem;
    font-weight: 700;

    height: 6rem;
    display: flex;
    align-items: center;
}

/*SOBRE MIM*/

.sobre-mim-container {
    width: 100vw;
    padding: 5% 5% 4% 5%;
    position: relative;
    top: 0;
    z-index: 2;
}

.conteudo-sobre-mim {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4%;
    gap: 5rem;
}

.texto-sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.texto-sobre-mim p {
    font-size: 1rem;
    color: #EAEAEA;
}

.texto-sobre-mim h2 {
    font-family: 'Syncopate', sans-serif;
    font-size: 1.5rem;
    color: #EAEAEA;
    font-weight: 700;
}

.formacao-academica {
    display: flex;
    gap: 1rem;
}

.formacao-academica img {
    width: 2rem;
    height: 1.5rem;
    margin-top: 0.8rem;
}

.graduacao-sobre-mim {
    display: flex;
    flex-direction: column;
}

.graduacao-sobre-mim h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 900;
}

.skills-sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    gap: 10rem;
    padding: 2rem 0;
}

.skills-sobre-mim div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 1rem;  
}

.skills-sobre-mim img {
    width: 4rem;
}

.skills-sobre-mim p {
    color: #EAEAEA;
    font-size: 1rem;
}

/*MEUS TRABALHOS*/

.projetos-container {
  width: 100vw;
  padding: 5% 5% 4% 5%;
  position: relative;
  top: 0;
  z-index: 2;
}

.projetos-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4%;
  gap: 3rem;

  border-radius: 24px;
  /* From https://css.glass */
  background: rgba(9, 10, 12, 0.30196078431372547);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.projetos-sub-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.projetos-content {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-link {
  cursor: pointer;

}

.project-link img {
  width: 22rem;
  border-radius: 1rem;
}

.projetos-content p {
  color: #EAEAEA;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

/*CONTATO*/

.contato-container {
  width: 100vw;
  padding: 5% 5% 4% 5%;
  position: relative;
  top: 0;
  z-index: 2;
}

.contato-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4%;
  gap: 5rem;
}

.contato-content > p {
  font-size: 1rem;
  color: #EAEAEA;
  text-align: center;
  width: 70%;
}

.contato-links {
  display: flex;
  align-items: center;
  gap: 20rem;
}

.contato-links-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.contato-links-box img{
  width: 4rem;
}

.contato-links-box p{
  font-size: 1rem;
  color: #EAEAEA;
}


@media screen and (min-width: 1150px) and (max-width: 1250px) {

}

@media screen and (min-width: 1100px) and (max-width: 1149px) {
  
}

@media screen and (max-width: 1099px) {
  nav {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  nav {
    align-items: center;
    justify-content: end;
  }

  .menu {
    flex-direction: column;
    background-color: #090A0C;
    align-items: start;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
  }

  .menu a {
    margin-left: 50px;
  }

  .menu li {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10px;
  }

  .menu-icon {
    display: block;
    color: #e4e4e4;
    font-size: 28px;
    cursor: pointer;
  }
}